# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# These files do not need to be checked into version control
gradle-script-grammar/src/main/gen
